
@-moz-keyframes floatingB {
  from {
    -moz-transform: translate(-100px,0px) rotateX(0deg) rotateY(0deg);

  }
  to{
    -moz-transform: translate(2500px,0px) rotateX(120deg) rotateY(30deg);

  }
}



@-moz-keyframes floatingA {
  from {
    -moz-transform: translate(-100px,0px);

  }
  to{
    -moz-transform: translate(2500px,0px);

  }
}


@-o-keyframes floatingB {
  from {
    -o-transform: translate(-100px,0px) rotateX(0deg) rotateY(0deg);

  }
  to{
    -o-transform: translate(2500px,0px) rotateX(120deg) rotateY(30deg);

  }
}



@-o-keyframes floatingA {
  from {
    -o-transform: translate(-100px,0px);

  }
  to{
    -o-transform: translate(2500px,0px);

  }
}

@-ms-keyframes floatingB {
  from {
    -ms-transform: translate(-100px,0px) rotateX(0deg) rotateY(0deg);

  }
  to{
    -ms-transform: translate(2500px,0px) rotateX(120deg) rotateY(30deg);

  }
}



@-ms-keyframes floatingA {
  from {
    -ms-transform: translate(-100px,0px);

  }
  to{
    -ms-transform: translate(2500px,0px);

  }
}

@keyframes floatingB {
  from {
    transform: translate(-100px,0px) rotateX(0deg) rotateY(0deg);

  }
  to{
    transform: translate(2500px,0px) rotateX(120deg) rotateY(30deg);

  }
}



@keyframes floatingA {
  from {
    transform: translate(-100px,0px);

  }
  to{
    transform: translate(2500px,0px);

  }
}

@-webkit-keyframes floatingB {
  from {
    -webkit-transform: translate(-100px,0px) rotateX(0deg) rotateY(0deg);

  }
  to{
    -webkit-transform: translate(2500px,0px) rotateX(120deg) rotateY(30deg);

  }
}

@-webkit-keyframes floatingA {
  from {
    -webkit-transform: translate(-100px,0px);

  }
  to{
    -webkit-transform: translate(2500px,0px);

  }
}

@-webkit-keyframes fireTorpedos {
  from {
    -webkit-transform: translate(0px,0px);

  }
  to{
    -webkit-transform: translate(-400px,-20px);

  }
}

#enterprise {
  background: url('enterprisencc1701.png');
  width: 53px;
  height:18px;
  left:-900px;
  top:100px;
  position: relative;
  margin: 0 auto;
}

#torpedo {
  background: url('photon-torpedo.png');
  width: 25px;
  height:25px;
}

 #cubeContainer {
  padding-top:50px;
  padding-bottom:50px;
  -webkit-perspective-origin  : 50% 50%;
  -moz-perspective-origin     : 50% 50%;
  -moz-transform-origin       : 50% 50%;
  -o-perspective-origin       : 50% 50%;
  -ms-perspective-origin      : 50% 50%;
  perspective-origin          : 50% 50%;
 }

.animate {
  -webkit-animation : floatingB 10s infinite linear;
  -moz-animation    : floatingB 10s infinite linear;
  -o-animation      : floatingB 10s infinite linear;
  -ms-animation     : floatingB 10s infinite linear;
  animation         : floatingB 10s infinite linear;
}

.warp-drive {
  -webkit-animation : floatingA 10s infinite linear;
  -moz-animation    : floatingA 10s infinite linear;
  -o-animation      : floatingA 10s infinite linear;
  -ms-animation     : floatingA 10s infinite linear;
  animation         : floatingA 10s infinite linear;
}

.torpedo {
  -webkit-animation : fireTorpedos 1s infinite linear;
  -moz-animation    : floatingA 10s infinite linear;
  -o-animation      : floatingA 10s infinite linear;
  -ms-animation     : floatingA 10s infinite linear;
  animation         : floatingA 10s infinite linear;
}


#cube {
  left:-1300px;
  position: relative;
  margin: 0 auto;
  height: 100px;
  width: 100px;

  -webkit-transition  : -webkit-transform 2s linear;
  -moz-transition     : -moz-transform 2s linear;
  -o-transition       : -o-transform 2s linear;
  -ms-transition      : -ms-transform 2s linear;
  transition          : transform 2s linear;

  -webkit-transform-style : preserve-3d;
  -moz-transform-style    : preserve-3d;
  -o-transform-style      : preserve-3d;
  -ms-transform-style     : preserve-3d;
  transform-style         : preserve-3d;
}

#cube>div {
  position: absolute;
  height: 90px;
  width: 90px;
  padding: 5px;
  background-position:center center;
}

#cube div:nth-child(1) {
  -webkit-transform : translateZ(50px);
  -moz-transform    : translateZ(50px);
  -o-transform      : translateZ(50px);
  -ms-transform     : translateZ(50px);
  transform         : translateZ(50px);
  background-color  : #2E272F;
  background-image: url('borg.png');
  background-repeat : no-repeat;
}

#cube div:nth-child(2) {
  -webkit-transform : rotateY(90deg) translateZ(50px);
  -moz-transform    : rotateY(90deg) translateZ(50px);
  -o-transform      : rotateY(90deg) translateZ(50px);
  -ms-transform     : rotateY(90deg) translateZ(50px);
  transform         : rotateY(90deg) translateZ(50px);
  background-color  : #2D3A4D;
  background-image: url('borg.png');
  background-repeat : no-repeat;
}

#cube div:nth-child(3) {
  -webkit-transform : rotateY(180deg) translateZ(50px);
  -moz-transform    : rotateY(180deg) translateZ(50px);
  -o-transform      : rotateY(180deg) translateZ(50px);
  -ms-transform     : rotateY(180deg) translateZ(50px);
  transform         : rotateY(180deg) translateZ(50px);
  background-color  : #2D1C12;
  background-image: url('borg.png');
  background-repeat : no-repeat;
}

#cube div:nth-child(4) {
  -webkit-transform : rotateY(-90deg) translateZ(50px);
  -moz-transform    : rotateY(-90deg) translateZ(50px);
  -o-transform      : rotateY(-90deg) translateZ(50px);
  -ms-transform     : rotateY(-90deg) translateZ(50px);
  transform         : rotateY(-90deg) translateZ(50px);
  background-color  : #693C1F;
  background-image: url('borg.png');
  background-repeat : no-repeat;
}

#cube div:nth-child(5) {
  -webkit-transform : rotateX(-90deg) translateZ(50px) rotate(180deg);
  -moz-transform    : rotateX(-90deg) translateZ(50px) rotate(180deg);
  -o-transform      : rotateX(-90deg) translateZ(50px) rotate(180deg);
  -ms-transform     : rotateX(-90deg) translateZ(50px) rotate(180deg);
  transform         : rotateX(-90deg) translateZ(50px) rotate(180deg);
  background-color  : #955122;
  background-image: url('borg.png');
  background-repeat :no-repeat;
}

#cube div:nth-child(6)  {
  -webkit-transform : rotateX(90deg) translateZ(50px);
  -moz-transform    : rotateX(90deg) translateZ(50px);
  -o-transform      : rotateX(90deg) translateZ(50px);
  -ms-transform     : rotateX(90deg) translateZ(50px);
  transform         : rotateX(90deg) translateZ(50px);
  background-color  : #E34C26;
  background-image: url('borg.png');
  background-repeat :no-repeat;
  text-align:center;  
}